
.login-box {
  width: 100%;
  margin: 0 auto;
  //margin-top: 130px;
  margin-bottom: 10px;
  padding: 40px 20px;
  border-radius: @border-radius-base;
  background: rgba(255, 255, 255, 0.7);
  //opacity: 0.9;

//  > .form-group {
//
//    &.ng-hide-add,
//    &.ng-hide-remove {
//      .transition(200ms cubic-bezier(.24,.47,.59,.3) height);
//      display: block !important;
//      position: relative;
//    }
//
//    &.ng-hide-remove {
//      left: 0;
//      &.ng-hide-remove-active {
//        left: 38px;
//      }
//    }
//
//    &.ng-hide-add {
//      left: 38px;
//      &.ng-hide-add-active {
//        left: 0px;
//      }
//    }
//  }
}

//.form-group, button, div.checkbox {
//  position: relative;
//}

.form-control {
  .transition(300ms linear all);
  border-radius: @border-radius-base;
  border: 1px solid transparent;
  background: @gray-lighter;
  .box-shadow(0px 0px 0px);

  &:focus {
    .transition(300ms linear all);
    border-color: transparent;
    background: #f3f3f3;
    .box-shadow(0px 0px 0px);
  }
}

.form-inline {
  .form-control,
  .radio,
  .checkbox {
    margin-right: 6px;

    @media (max-width: @screen-sm) {
      margin-bottom: 3px;
    }
  }
}