<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1><i class="fa fa-lock"></i> OAuth Applications <a href="#/applications/new" class="btn btn-warning text-right" style="float:right;">Add</a> </h1>
            <p class="lead">Create OAuth Applications to integrate our API into your application. You need to own an application in order to make actions for authenticated users.</p>
            <ul class="list-unstyled">
                <li ng-repeat="application in applications"><oauth-application application="application"></oauth-application></li>
            </ul>
        </div>
    </div>
</div>
