<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="" ng-click="go('/developer/applications')"><i class="fa fa-3x fa-arrow-circle-o-left"></i></a>
            <h1><i class="fa fa-plus"></i> Create Applications</h1>
            <p class="lead">All you need is a name and a redirect uri for successful authorization of a resource owner. Add you're application with this form.</p>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                    <form class="form-horizontal" role="form" ng-submit="submit()">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="redirect_uri" class="col-sm-3 control-label">Redirect URI</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="redirect_uri" placeholder="Redirect URI" ng-model="redirect_uri">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>