<div class="container">
	<div class="row">
        <div class="col-lg-12">
            <h1>{{user.name}}</h1>
            <div class="row">
                <div class="col-lg-3">
                    <a href="{{user.avatar}}"><img src="{{user.avatar}}" class="img-responsive img-thumbnail"></a>
                    <div class="row" style="margin: 10px 0px;">
                        <div class="col-lg-6">
                            <h3 style="margin: 0;">About</h3>
                        </div>
                        <div class="col-lg-6 text-right">
                            <a href="" title="edit"><i class="fa fa-2x fa-edit"></i></a>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Name</strong>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {{user.name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Username</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.identity.username}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Email</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.identity.email}}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 10px 0px;">
                        <div class="col-lg-12">
                            <h3>Company</h3>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Name</strong>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {{user.company.name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Username</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.identity.username}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Email</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.identity.email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Address 1</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.company.address.address_1}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Address 2</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.company.address.address_2}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>City</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.company.address.city}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>County</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.company.address.county}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <strong>Country</strong>
                            </div>
                            <div class="col-lg-6 col-md-6" style="word-break: break-all;">
                                {{user.company.address.country}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
		            <pre>
{{user}}
		            </pre>
                </div>
            </div>
        </div>
	</div>
</div>