<div style="height: 100%;background:black;background-image:url('/assets/header.jpg');background-size: cover;">
    <div class="container">
        <div class="row voffset3">
            <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 text-center">
                <img src="assets/air_menu_logo_white-500x500.png" class="img-responsive" style="margin: 0 auto;">
            </div>
        </div>
        <div class="row voffset5">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <login-box handler="handler" register-fn="registerHandler"></login-box>
            </div>
        </div>
    </div>
</div>