<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <h1><i class="fa fa-cogs"></i> Restaurants</h1>
                </div>
                <div class="col-lg-3 col-lg-offset-3">
                    <button class="btn btn-success btn-block" style="margin-top: 20px" ng-click="addRestaurant()"><i class="fa fa-plus-circle"></i> Add</button>
                </div>
            </div>
            <hr>
            <ul class="list-unstyled">
                <li ng-repeat="restaurant in restaurants">
                    <div class="row">
                        <div class="col-lg-3" ng-bind-html="avatar(restaurant.avatar,'img')">

                        </div>
                        <div class="col-lg-9">
                            <h2><a href="javascript:void(0);" ng-click="go('/restaurants/' + restaurant.id)">{{restaurant.name||'No Name'}}</a></h2>
                            <h4>{{restaurant.description||'No Description'}}</h4>
                            <ratingg stars="restaurant.rating"></ratingg>
                        </div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>