<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <hr />
            <h3>
                <span ng-if="application.trusted" class="label label-success">Trusted</span> <i ng-if="!application.trusted" class="fa fa-unlock"></i> {{application.name}} <small>{{application.redirect_uri}}</small>
            </h3>
            <p style="word-break: break-all;"><strong>Client ID: </strong>{{application.client_id}}</p>
            <p style="word-break: break-all;"><strong>Client SECRET: </strong>{{application.client_secret}}</p>
        </div>
    </div>
</div>
